<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:75vh; margin-top:100px;">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 400px;" *ngIf="!isLoggedIn">
      <div class="card-body">
        <h4 class="card-title mb-4">Sign in</h4>
  
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" name="form">
          <div class="form-group mb-3">
            <label>Email</label>
            <input name="email" type="email" formControlName="email" class="form-control"
              placeholder="sample.name@yourmail.com" required="required"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <span class="small" *ngIf="f.email.errors.required">Email should be Valid</span>
            </div>
          </div> <!-- form-group// -->
          
          <div class="form-group">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block text-white"> Login </button>
          </div> <!-- form-group// -->
        </form>
        
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
  
    <p class="text-center mt-4">Don't have account? <a routerLink="../signup">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  